/* Created by A4S */



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lemonada&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lemonada:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{
    margin:0;
    padding:0; 
    box-sizing:border-box;
    
}
html{
    scroll-behavior:smooth;
}

.logo{
    display:flex;
    width:80px;
    justify-content:space-between;
    align-items:center;
    margin-left:3px;
}
#navbar{
    display:flex;
    justify-content:space-between;
    width:100vw;
    align-items:center;
    background-cotlor:#ffffff;
    background-color:transparent;
    background:rgba(0,0,0,0.28);
    flex-wrap:1;
    position:fixed;
    z-index:1000;
    height:45px;
    top:0;
    }


#navbar ul{
    display:inline-block ;
}
#navbar ul li{
    list-style:none;
    padding:10px 0;
    display:inline-block ;

}

#navbar ul li a{
    text-decoration:none;
    padding:6px 5px;
    color:#fff;
    coolor: #c89666;
    position:relative;
    
}
#navbar h2{
    font-size:1.1rem;
    color:#fff;
    margin-left:-45px;
    font-family: 'Dancing Script', cursive;

    font-family: 'Lemonada', cursive;

    font-family: 'Pacifico', cursive;
    color:#c89666;

}
   
   /*home section  */
   
   
#home{
    display:flex;
    width:100vw;
    height:500px;
    background-color:#8B0000;
    position:relative;
    color:#000000;
    padding-top:60px;
    }

#home .wave{
    height:100px;
    width:100vw;
    position:absolute;
    bottom:0; background:url("https://i.ibb.co/0rs5gtL/wave.png") no-repeat center/cover;
    left:0;    
    opacity:1;
    overflow:hidden;
}

#home .img{
    width:180px;
    height:180px;
    padding:4px; 
    border:1px solid #000000;
    border-left:1px solid #000000;
    box-shadow:-2px -2px 4px #333;
    position:relative;
    border-radius:50%;
    background-color:#000000;
    margin:0 auto;

}

#home img{
    border-radius: 40%;
    width:150px;
    height:170px;
    padding:0px;
    margin:0 auto;

}

.user
{padding-left:5px;
color:#ffffff;
font-size:22px;}

#home .left{
    padding:0 10px;
    margin:0 auto;
    margin-top:5px;
    
    
}
.left h1{
    font-family: 'Lemonada', cursive;
    animation: type 3s steps(50,end) 1 1s normal both;
    margin:0px auto;
    margin-top:20px;
    overflow:hidden;
    white-space:nowrap ;
    
}

@keyframes type {
    0% {width:0px;}
    100% {width:100%;}
}



.left h1:first-letter{
    color:#000000;
}
.left h3{
    font-family: 'Dancing Script', cursive;
    font-size:25px;
    margin-top:-10px;
    line-height:1.5rem;
    color:#ffffff;

}

span.color{
    color:#ffffff;
}

.container{
    margin:0 auto;
    width:250px;
    text-align:center;
    align-items:center;
}
.h{
    display:block;
    margin-top:10px;
}
#home button{
    background: #000000;
     box-shadow: inset 13px 13px 26px #000000, inset -13px -13px 26px #000000;
    border:none;
    padding:10px 30px;
    font-size:15px;
    color:#ffffff;
    font-family: 'Lemonada', cursive;
    border-radius:20px;
    transition:background 1s ease-in-out ;
    
    outline:none;
}
#home .button{
    margin-top:10px;
    
}

#home button:hover{
    background: #000000; box-shadow: 18px 18px 60px #224047, -18px -18px 60px #386875;
    background:rgba(0,0,0,0);

}

/*skill section */

#skill h4{
    
    font-family: 'Playfair Display', serif;
    color:#FF0000;
    
}
#skill .note{
    width:200px;
    margin:10px auto;
    text-align:center;
    font-family: 'Lemonada', cursive;
    color:#000000;
    font-weight:bold;
    border-bottom:2px solid #c89666 ;
    position:relative;
}

.note::after{
    content:'';
    width:150px;
    height:2px;
    background-color:#000000;
    position:absolute;
    left:25px;
    top:55px;
    text-align:center;
    
}


.box{
    font-family:'Roboto',sans-serif;
}



.card svg{
    
    width:150px;
    height:150px;
    position:relative;
}

.card svg circle{
    width:100%;
    height:100%;
    fill:none;
    stroke:rgba(0,0,0,.1);
    stroke-width:10;
    stroke-linecap:round;
    position:relative;
    transform:translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray:440;
    stroke-dashoffset:440;
}

.box:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 90) /100);
    stroke:#000000;
    stroke-linecap:round;
}

.box:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 60) /100);
    stroke:#000000;
    stroke-linecap:round;
}

.box:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 10) /100);
    stroke:#000000;
    stroke-linecap:round;
}

.box:nth-child(1){
    border-top:1px solid gray;
    border-left:1px solid gray;
}

.box:nth-child(2){
    border-top:1px solid gray;
    border-right:1px solid gray;
}

.box:nth-child(3){
    border-left:1px solid gray;
    border-bottom:1px solid gray;
}





.body{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    
}

.box{
    position:relative;
    display:flex;
    align-items:center;
    width:200px;
    height:200px;
    justify-content:center;
    text-align:center;
    margin-top:30px;
    transition:.5s ease-in;
}
.box:hover{
    transform:translateY(-5px);
}

.card{
    position:relative;
    width:150px;
    height:150px;
    border-radius:50%;
    
}
.card .percent{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    top:0;
    left:0;
    font-size:30px;
    color:#000000;
    transition: .5s ease-in;
}

.box:hover .card .percent{
    font-size:40px;
}
h4{
    font-size:20px;
    margin-top:10px;
    
}

/*project section */

#project{
    margin-top:25px;
    background-color:#8B0000;
    width:100vw;
    height:100%;
    clip-path:polygon(52% 1%, 77% 0, 100% 0%, 100% 99%, 0% 100%, 0% 0%, 26% 0%);
    padding-bottom:30px;
    margin-bottom:-10%;
    font-family:'Slabo 27px', serif;
    overflow:scroll;
    

}
.note2{
    height:90px;
    width:150px;
    background-color:#c89666;
    top:40px;
    clip-path:polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0 76%);
    
    position:relative;
    margin:0 auto;
    border-radius:4px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.note2 h5{
    margin-top:-30px;;
    position:relative;
    font-size:20px;
    color:#fff;
    
}

.pic img{
    width:240px;
    height:270px;
    border-bottom:1px solid #ddd;
    
}
.pic{
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    height:100%;
    
}

.image{
    margin-top:50px;
}
.content{
    width:280px;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    display:flex; 
    justify-content:center;
    align-items:center;
    color:#fff;
    position:relative ;
    padding-bottom:10px;
    text-align:center;
    margin:auto;
    flex-direction:column;
    
}

.content a{
    padding:5px 10px;
    color:#fff;
    text-decoration:none;
    box-shadow:1px 1px 2px #c89666,
                -1px -1px 2px #c89666;
    border-radius:20px;
    margin-top:7px;
    background-color:transparent;
    transition:.5s ease-in;
}

.content a:hover{
    background-color:#c89666;
}

.content .tik{
    width:20px;
    height:20px;
    background-color:#fff;
    clip-path:polygon(0 0, 0 100%, 100% 100%);
    margin-top:-45px;
    position:absolute ;
    right:0px;
    background:rgba(255,255,255,.5);
}

.content .tok{
    width:20px;
    height:20px;
    background-color:#fff;
    clip-path:polygon(0 0, 0 100%, 100% 100%);
    margin-top:-45px;
    position:absolute ;
    left:0px;
    transform:rotate(270deg);
    background:rgba(255,255,255,.5);
}








/*contact section */

#contact{
    width:100vw;
    height:1150px;
    color:#fff;
    background:#ffffff;
    font-family:'Slabo 27px', serif;;
    
}

.wrapper h6{

    color:#fff;
    font-size:25px;
    text-shadow:2px 2px 4px #333,
                -2px -2px 4px #333;
    
    
}
.wrapper{

    padding-top:50px;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
}

.social i{
    font-size:20px;
    color:#fff;
    border-radius:50%;
    padding:8px 8px;
    background-color:#8B0000;
    margin-right:10px;
    
}
 .social{
    
  margin-top:50px;
    
}
.map i{
    font-size:30px;
    color:#fff;
    background-color:#000000;
    border-radius:50%;
    padding:8px 15px;
    position:absolute;
    margin-top:-55px;
}
.map{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    transition:transform .5s ease-in-out;
}
.map h2{
    width:250px;
    height:150px;
    background:rgba(0,0,0,0.1);
    text-align:center;
    padding-top:40px;
    margin-top:45px;
    color:#8B0000;
    font-size:17px;
    transition:transform 0.5s ease-in;
    
    
}

.all h{
    font-size:20px;
    color:#fff;
    font-weight:700;
    font-family: 'Lemonada', cursive;
    width:250px;
    position:absolute;
    border-radius:20px;
    background-color:#000000;
    z-index:100; 
    margin-top:-140px;
}

.all{
    margin-top:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}


#contact .red{
    color:#ffffff;
    font-size:25px;
}


.face i{
    margin-top:-52px;
}
.phone i{
    padding:8px 10px;
    margin-top:-52px;
}

.form form{
    display:flex;
    flex-direction:column;
}
.form{
    text-align:left;
    align:center;
    width:350px;
    color:#8B0000;
    margin-top:40px;
    line-height:2rem;
    margin-left:20px;
    border:2px solid #000000;
    padding-top:70px;
    position:relative;
    padding-bottom:40px;
    padding-left:25px;
    padding-right:25px;
    border-radius:20px;
    z-index:1;
    font-family: 'Playfair Display', serif;
    
}

form input{
    outline:none;
    border:none;
    background-color:transparent;
    border-bottom:2px solid #000000;
    
}
.name{
    
    white-space:nowrap;
}

.first,.last{
    display:flex;
    flex-direction:column;
    margin-right:10px;
}
.name{
    display:flex;
    flex-direction:row;
}
.first input, .last input{
    width:100%;
}


.form textarea{
    border:none;
    outline:none;
    background-color:transparent ;
    border:2px solid #000000;
    height:50px;
    border-style:dashed ;
    width:100%;
}
#contact .area{
    margin-top:10px;
}
.form button{
    background-color:#000000;
    color:#fff;
    padding:5px 5px;
    text-align:center;
    margin-left:28%;
    margin-top:22px;
    outline:none;
    border:none;
    position:absolute ;
    box-shadow:5px 5px 20px #fff;
    font-family: 'Lemonada', cursive;
}

.form button i{
    font-size:15px;
    margin-right:5px;
}
#footer .end{
    color:#fff;
    font-size:20px;
    position:absolute;
    margin-left:15px;
    margin-top:25px;
}

.map:hover{
    transform:scale(1.05)
    translateY(-5px);
}

/*footer section*/

#footer{
    width:100vw;
    align-items:center;
    font-family: 'Dancing Script', cursive;
    line-height:1.2rem;
    height:80px;
    clip-path:polygon(67% 0, 83% 22%, 100% 0, 100% 18%, 100% 100%, 0% 100%, 0 0%, 16% 18%, 36% 0, 50% 20%);
    clip-path: polygon(67% 0, 83% 22%, 100% 0, 100% 18%, 100% 100%, 0 100%, 0 0, 16% 18%, 36% 0, 50% 20%);
    
    background-color:#8B0000;
    margin-top:-18px;
    padding-bottom:5px;
}

.tani{
    height:14px;
    width:18.5px;
    background-color:gray;
    clip-path:polygon(0 0, 0 100%, 100% 100%);
    transform:rotate(270deg);
    position:absolute;
    margin-top:226px;
    margin-left:81px;
    
}

  /*navbar */
label #bar-one, #bar-two{
    color:#ddd;
    font-size:1.4rem;
    display:none;  
    margin-right:10px;
    border:.4px solid #fff;
    padding:5px 6px;

}

#check{
    display:none;

}

@media (max-width:870px){
label #bar-one{
    display:block;

}
ul{
    display:block;
    background-color:transparent;
    background:rgba(0,0,0,0.8);
    right:-100%;
    position:fixed;
    width:300px;
    z-index:10;
    text-align:center;  
    transition:all 1s ease-in;
    height:340px;
    align-items:center;
    margin-left:45px;
    top:80px;
    margin-right:30px;
    justify-content:center;
    padding-top:40px;
    border-radius:20px;
}
li{
    display:block;
}

#check:checked ~ ul{
    right:0%;

}

#check:checked ~label #bar-one{
    display:none;

}

#check:checked ~label #bar-two{
    display:block;

}



#navbar ul li{
    display:block ;
    padding-bottom:15px;
    
}
#navbar ul li a{
    font-size:20px;
    font-family: 'Lemonada', cursive;
    position:relative;
}
}

#navbar ul li a::before{
    position:absolute ;
    content:'';
    width:100%;
    height:2px;
    left:0;
    bottom:0;
    background-color:#fff;
    transform-origin:left;
    transition:transform 1s linear; 
    transform:scaleX(0);
    

}

#navbar ul li a:hover:before{
    transform:scaleX(1);
    transform-origin:right;
    
}
/*slide show*/

.slide{
    height:200px;
    background-color:#fff;
    margin-top:40px;  
    
}

.cover{
    perspective:1000px;
    position:relative;
    
}
.images{
    transform-style:preserve-3d;
    animation:show 10s linear infinite; 
    margin-left:50%; 
    margin-right:50%;
    
}
.images:hover{
    animation-play-state:paused;
}

.cover .images figure{
    width:100px;
    height:100px;
    position:absolute;
    margin:20px auto;
    box-shadow:5px 5px 15px #000000,
                -5px -5px 15px #000000;
    overflow:hidden; 
}

.cover .images figure img{
    position:absolute;
    width:100px;
    height:100px;
    background-color:#333;
    opacity:0.98;
    transition:transform 1s ease-in;
    image-rendering:auto;
    
}

.cover .images figure img:hover{
    transform:scale(1.2);
}


.cover .images figure:nth-child(1){
    transform:rotateY(0deg)
    translateZ(90px);
}
.cover .images figure:nth-child(2){
    transform:rotateY(70deg)
    translateZ(90px);
    
    }
    
 .cover .images figure:nth-child(3){
    transform:rotateY(140deg)
    translateZ(90px);
    
    }
.cover .images figure:nth-child(4){
    transform:rotateY(210deg)
    translateZ(90px);
    
    }
    
 .cover .images figure:nth-child(5){
    transform:rotateY(280deg)
    translateZ(90px);
    
    }
    
    


@keyframes show{
    from{transform:rotateY(-360deg)}
    to{transform:rotateY(0deg)}
}


